<ion-header >
  <ion-toolbar class="toolbar-background">
  <ion-buttons slot="start" >
   <ion-back-button class="button-native"></ion-back-button>
</ion-buttons>
<!-- <ion-buttons slot="primary">
  <ion-button (click)="settingsPopover()">
    <ion-icon style="color:white;" slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
  </ion-button>
</ion-buttons> -->
<ion-title class="toolbar-title">View Material Issue</ion-title>

  </ion-toolbar>
</ion-header> 


<ion-content>
  <!-- <ion-refresher (ionRefresh)="doRefresh($event)" slot="fixed" pullFactor="0.5" pullMin="100" pullMax="200">
    <ion-refresher-content style="margin-top: 150px;"></ion-refresher-content>
  </ion-refresher> -->
    <ion-grid>
      
               
            <div style="padding-top: 11px;">
            	<ion-row >
                  <!-- <ion-col size="6" >
                    <div class="form-group">
                      <label>Project</label>
                       <select class="form-control" [(ngModel)]="issue_project" [ngModelOptions]="{standalone: true}">
                      <option value="" selected="selected">Select one</option>
                      <option *ngFor="let val of project_list; let i = index" value="{{val.sub_project_id}}">{{val.project_name+' ('+val.project_id+')'}} > {{val.sub_project_name+' ('+val.sub_project_id+')'}}  </option>
                    </select>
                      <div class="arrow"><img src="assets/images/select-arrow.png" alt="select arrow" title="" /></div>
                  </div>
                   </ion-col> -->
                  
            
            
              <ion-col size="6">
                <div class="card-box" >
                <ion-row>
                  
                   <ion-col size="12">
                <div class="right-box-margin">   <span class="title-today">Material Issue Ref No</span> 
                 <p class="title-date">{{material_issue_referencec_id}}</p>
                </div>
                </ion-col>
                </ion-row>
                </div>
              
             
             
            </ion-col>
           
                
              <ion-col size="6">
                <div class="card-box" >
                  <ion-row>
                     
                     <ion-col size="12">
                  <div class="right-box-margin"> <span class="title-today">Project Issue For</span> 
                   <p class="title-date">[{{main_project_details.project_id}}>{{sub_project_id}}] {{main_project_details.project_name}}</p>
                  </div>
                  </ion-col>
                  </ion-row>
                  </div>
                
                </ion-col>
               
                </ion-row>
              </div>
              <div class="card-box" style="padding-top: 11px;">
                <ion-row >
                  <ion-col align-self-center size="6" >
                    <div class="form-group"  >
                <label class="time-lable">Material Required by</label>
              
                <input type="date" style="pointer-events: none;" [(ngModel)]="material_required_by" [ngModelOptions]="{standalone: true}" class="form-control">
              </div>
                   
                  
             </ion-col>
             <ion-col align-self-center size="6" >
              <div class="form-group"  >
                <label class="time-lable">Creation Date</label>
              <input type="date" style="pointer-events: none;" [(ngModel)]="created_at" [ngModelOptions]="{standalone: true}" class="form-control">
                 
              </div>
              
           
            </ion-col>
            
            
        </ion-row>
           </div>
            
                <div  *ngFor="let inneritem of depositData; let i = index" class="card-box" style="padding-left: 0;">
                  
                    <ion-row >
                      <ion-col size="1" class="active-col">
                        <h4 class="status-title" style="text-transform: capitalize;">  
                          </h4>
                      </ion-col>
                      <ion-col size="11" style="padding-left:11px">
                      <ion-label class="nomargin">  
                          <ion-row  >
                            <ion-col size="8">
                              <h2 class="list-title"><span class="smspan">Product </span><br>
                                  {{ inneritem.item_code!= '' ? inneritem.item_code : ''}} {{inneritem.product_name}}{{inneritem.product_variant_name}}
                               
                              </h2>
                            </ion-col>
                             
                                 	<ion-col size="4" >
                              <h2 class="list-title"><span class="smspan">Warehouse</span><br>
                                  {{inneritem.warehouse_name}}
                              </h2>
                            </ion-col>                     
                            
                          </ion-row>
                          <ion-row>
                            <ion-col size="4" >
                              <h2 class="list-title"><span class="smspan">Available Qty</span><br>
                              {{(inneritem.balance)}} {{inneritem.uom_name}}
                              </h2>
                            </ion-col>
                            <ion-col size="4" >
                              <h2 class="list-title"><span class="smspan">Issued Qty</span><br>
                                {{inneritem.issued_qty}} {{inneritem.uom_name}}
                              </h2>
                            </ion-col>
                            <ion-col size="4" >
                              <h2 class="list-title"><span class="smspan">GRN Ref No </span><br>
                                  {{inneritem.grn_srn_ref_id}}
                              </h2>

                            </ion-col>
                                  <p style="color: #006fa3;">Status: {{ inneritem.status== 'ready' ? 'ready' : 'despatched'}}</p>  
                              <ion-col size="12" >
                              <div class="form-group" *ngIf=" currentSelected[i] == inneritem.ID" >
                <label class="time-lable">Material Required by  </label>
              
                <!-- <input type="text" style="pointer-events: none; background: #ebe9e9;" class="form-control" *ngIf=" currentSelected[i] != i"> -->
                <input type="number"  max="{{(inneritem.balance* 1+inneritem.issued_qty* 1)}}"  class="form-control"  (keypress)="keypress($event,(inneritem.balance* 1+inneritem.issued_qty* 1),i)" (keyup)="keypress($event,(inneritem.balance* 1+inneritem.issued_qty* 1),i)" [(ngModel)]="requiredby_qty[i]" [ngModelOptions]="{standalone: true}" >
              </div>
                              
                                </ion-col>                                                        
                              </ion-row>
                        </ion-label>
                      </ion-col>
                    
                  
                </ion-row>
             
                </div>
                <div  *ngFor="let inneritem of depositDataDis; let i = index" class="card-box" style="padding-left: 0;">
                  
                    <ion-row >
                      <ion-col size="1" class="active-col">
                        <h4 class="status-title" style="text-transform: capitalize;">   

                          </h4>
                      </ion-col>
                      <ion-col size="11" style="padding-left:11px">
                      <ion-label class="nomargin">  
                          <ion-row  >
                            <ion-col size="8">
                              <h2 class="list-title"><span class="smspan">Product </span><br>
                                  {{ inneritem.item_code!= '' ? inneritem.item_code : ''}} {{inneritem.product_name}}{{inneritem.product_variant_name}}
                               
                              </h2>
                            </ion-col>
                             
                                 	<ion-col size="4" >
                              <h2 class="list-title"><span class="smspan">Warehouse</span><br>
                                  {{inneritem.warehouse_name}}
                              </h2>
                            </ion-col>                     
                            
                          </ion-row>
                          <ion-row>
                            <ion-col size="4" >
                              <h2 class="list-title"><span class="smspan">Available Qty</span><br>
                              {{(inneritem.balance)}} {{inneritem.uom_name}}
                              </h2>
                            </ion-col>
                            <ion-col size="4" >
                              <h2 class="list-title"><span class="smspan">Issued Qty</span><br>
                                {{inneritem.issued_qty}} {{inneritem.uom_name}}
                              </h2>
                            </ion-col>
                            <ion-col size="4" >
                              <h2 class="list-title"><span class="smspan">GRN Ref No </span><br>
                                  {{inneritem.grn_srn_ref_id}}
                              </h2>

                            </ion-col>
                                  <p style="color: #006fa3;">Status: {{ inneritem.status== 'ready' ? 'ready' : 'despatched'}}</p>  
                                                                                      
                              </ion-row>
                        </ion-label>
                      </ion-col>
                    
                  
                </ion-row>
             
                </div>

                <div *ngIf="!depositData.length && !depositDataDis.length">

                  <ion-row>
                    <ion-col size="12">
   <h2 class="list-title" style="font-size: 22px;color: #af1313;text-align: center; font-weight: 600;"> No record found 
                       
                      </h2>
                      </ion-col>
                      </ion-row>
                </div>
             
         
         
        
    </ion-grid>
    
 
  

</ion-content>