ion-grid {
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
.form-group {
  margin: 0 0 10px !important;
}
.card-icon {
    font-size: 40px !important;
   
}
.card-box {
      margin-bottom: 6px !important;
    
}
.right-box-margin {
    margin: 2px 2px 2px 16px !important;
}