<ion-header >
  <ion-toolbar class="toolbar-background">
  <ion-buttons slot="start" >
   <ion-back-button class="button-native"></ion-back-button>
</ion-buttons>
<ion-title class="toolbar-title">Expense Edit</ion-title>
  </ion-toolbar>
</ion-header> 
<ion-content>

<ion-content>

    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <!-- <div text-center>
            <h3>Create your account!</h3>
          </div> -->
          <div padding style="margin-top: 15px;">
            <div class="form-group">
              <label>Project</label>
               <select class="form-control" [(ngModel)]="project" [ngModelOptions]="{standalone: true}">
              <option value="" selected="selected">Select one</option>
              <!-- <option *ngFor="let val of projecy_list; let i = index" value="{{val.ID}}">{{val.project_id}} > {{val.sub_project_id}}</option> -->
              <option *ngFor="let val of projecy_list; let i = index" value="{{val.sub_project_id}}">{{val.project_name+' ('+val.project_id+')'}} > {{val.sub_project_name+' ('+val.sub_project_id+')'}}  </option>
            </select>
              <div class="arrow"><img src="assets/images/select-arrow.png" alt="select arrow" title="" /></div>
          </div>
          <div class="form-group">
            <label>Expense category</label>
             <select class="form-control" #C (change)="selectChange(C.value)" [(ngModel)]="category" [ngModelOptions]="{standalone: true}">
            <option value="" selected="selected">Select category</option>
            <option *ngFor="let val of category_list; let i = index" value="{{val.ec_ID}}">{{val.ec_name}}</option>
          </select>
            <div class="arrow"><img src="assets/images/select-arrow.png" alt="select arrow" title="" /></div>
        </div>
              
        <div class="form-group">
          <label>Type</label>
           <select class="form-control"  [(ngModel)]="subcategory" [ngModelOptions]="{standalone: true}">
          <option value="" selected="selected">Select type</option>
          <option *ngFor="let val of subcategory_list; let i = index" value="{{val.ec_ID}}">{{val.ec_name}}</option>
        </select>
          <div class="arrow"><img src="assets/images/select-arrow.png" alt="select arrow" title="" /></div>
      </div>
      <div class="form-group" *ngIf="subcategory==8 || subcategory==20">
        <label>Start Km</label>
      
        <input type="text" [(ngModel)]="uwe_startkm" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="" >
      </div>
      <div class="form-group"  *ngIf="subcategory==8 || subcategory==20">
        <label>End Km</label>
      
        <input type="text" [(ngModel)]="uwe_endkm" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="" >
      </div>
                    <ion-item *ngIf="category==1">
                      <ion-label position="floating">To</ion-label>
                      <ion-textarea  [(ngModel)]="uwe_to" [ngModelOptions]="{standalone: true}"></ion-textarea>
                    </ion-item>
                    <ion-item *ngIf="category==4 || category==11">
                      <ion-label position="floating">Where</ion-label>
                      <ion-textarea  [(ngModel)]="uwe_where" [ngModelOptions]="{standalone: true}"></ion-textarea>
                    </ion-item>
                    <ion-item>
                      <ion-label position="stacked">Expense Date</ion-label>
                                  
                  <ion-datetime  placeholder="Date (D/M/Y)" [min]="minDate" [max]="maxDate" displayFormat="DD/MMM/YYYY"  [(ngModel)]="expense_date" [ngModelOptions]="{standalone: true}" ></ion-datetime>
                </ion-item>
  <ion-item>
  <ion-label position="floating">Description</ion-label>
  <ion-textarea placeholder="Enter more information here..." [(ngModel)]="work_description" [ngModelOptions]="{standalone: true}"></ion-textarea>
</ion-item>
<ion-item>
  <ion-label position="floating">Amount</ion-label>
  <ion-input type="number" maxlength="10" [(ngModel)]="expense_amount" [ngModelOptions]="{standalone: true}"></ion-input>
</ion-item>
<!-- <ion-item>
      <ion-label position="stacked">Image</ion-label>
      <ion-input type="file" accept="image/*" id="upload"  (ionChange)="imageFilePath_change($event)"></ion-input>
    </ion-item> -->
    <ion-row >
      <ion-col size="10">
        <div *ngIf="isToggled == false">
        <ion-button color="primary"  (click)="deposit_slip_image()" expand="block">
           <ion-icon name="camera" slot="icon-only"></ion-icon>
        </ion-button>
        </div>
      </ion-col>
    <ion-col size="2">
      <div class="image_border" *ngIf="depositImage">
        <img [src]="sanitizer.bypassSecurityTrustUrl(depositImage)" (click)="imageViewer(depositImage)">
      </div>
    </ion-col>
    
  </ion-row>
   <ion-item>
      <ion-label position="stacked" style="position: relative;">Location </ion-label>
      <div style="position: absolute;right: 15px;top: 6px;"><span (click)="getLocationRel()" style="font-size: 25px;"><ion-icon name="refresh-circle-outline"></ion-icon></span></div>
      
      <div *ngIf="address">{{address}}</div>
    </ion-item>

<br>


          </div>
          <div padding>
            <ion-button  size="large" (click)="submit_mode()"  expand="block">Save</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
 
</ion-content>
