<ion-header >
  <ion-toolbar class="toolbar-background">
  <ion-buttons slot="start" >
   <ion-back-button class="button-native"></ion-back-button>
</ion-buttons>
<ion-title class="toolbar-title">Advance Request Edit</ion-title>
  </ion-toolbar>
</ion-header> 


<ion-content>

    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <!-- <div text-center>
            <h3>Create your account!</h3>
          </div> -->
          <div padding style="margin-top: 15px;">
            <div class="form-group">
              <label>Project</label>
               <select class="form-control" [(ngModel)]="project" [ngModelOptions]="{standalone: true}">
              <option value="" selected="selected">Select one</option>
              <!-- <option *ngFor="let val of projecy_list; let i = index" value="{{val.ID}}">{{val.project_id}} > {{val.sub_project_id}}</option> -->
              <option *ngFor="let val of projecy_list; let i = index" value="{{val.sub_project_id}}">{{val.project_name+' ('+val.project_id+')'}} > {{val.sub_project_name+' ('+val.sub_project_id+')'}}  </option>
            </select>
              <div class="arrow"><img src="assets/images/select-arrow.png" alt="select arrow" title="" /></div>
          </div>
          
     
      <div class="form-group">
        <label>Description</label>
      
        <input type="text" [(ngModel)]="work_description" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Enter more information here..."  >
      </div>
      <div class="form-group">
        <label class="time-lable">Amount</label>
        <ion-input class="form-control"  type="number" maxlength="10" [(ngModel)]="expense_amount" [ngModelOptions]="{standalone: true}"></ion-input>
      </div> 
      <div class="form-group" *ngIf="reject_reason">
        <label class="time-lable">Reject reason</label>
        <ion-input class="form-control" style="pointer-events: none;" type="text"  [(ngModel)]="reject_reason" [ngModelOptions]="{standalone: true}"></ion-input>
      </div> 
<!-- <ion-item>
      <ion-label position="stacked">Image</ion-label>
      <ion-input type="file" accept="image/*" id="upload"  (ionChange)="imageFilePath_change($event)"></ion-input>
    </ion-item> -->
    
 
   
  
          </div>
         
        </ion-col>
      </ion-row>
    </ion-grid>
 
</ion-content>
<ion-footer class="ion-no-border">
  <ion-row>
  <ion-col>
  
    <div padding>
      <button class="btn"  (click)="submit_mode()">Update</button>
    </div>
  </ion-col>
  </ion-row>
  </ion-footer>