<ion-content>
	<ion-item  (click)="popDismiss('home')" class="item-class">
		<ion-icon slot="start" name="home-outline" class="item-icon"></ion-icon>Home
	</ion-item>
	<ion-item  (click)="popDismiss('generale-leave')" class="item-class">
		<ion-icon slot="start" name="add-circle-outline" class="item-icon"></ion-icon> Gen Leave Apply
	</ion-item>
	<ion-item (click)="popDismiss('medical-leave')" class="item-class">
		<ion-icon slot="start" name="add-circle-outline" class="item-icon"></ion-icon> Med Leave Apply
	</ion-item>
	<ion-item (click)="popDismiss('compact-leave')" class="item-class">
		<ion-icon slot="start" name="add-circle-outline" class="item-icon"></ion-icon>  Comp Leave Apply
	</ion-item>
	 
</ion-content>