<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">

      <div class="body_warrper">

        <div class="menu_area">
          <div class="menu_profile">
            <div class="w-100">
              <div class="menu_img" *ngIf="!userDetails?.profile_pic">
                <img src="assets/images/user.png" alt="icon" title="">
              </div>
              <div class="menu_img" *ngIf="userDetails?.profile_pic">
                <img src="{{imag_path + userDetails?.profile_pic}}" alt="">
              </div>
              <!-- <h1 *ngIf="!userDetails?.first_name"></h1> -->
              <p style="font-size: 18px;font-weight: bold;font-family: 'Inter Medium';">{{userDetails?.full_name}} ({{userDetails?.code}})</p>

            </div>
            <div  class="profile_icon" routerLink="/profile" (click)="close()">
              <ion-icon  style="color: white;
    border: 2px solid white;
    padding: 7px;
    border-radius: 30px;" name="camera-outline"></ion-icon>
                 
                </div>
          </div>
          <!-- <ion-grid> -->
            <div style="overflow: scroll;
    max-height: 500px;">
            <ion-list id="labels-list" *ngIf="userDetails">
              <!--  <ion-list-header>Module</ion-list-header> -->
              <ion-item lines="none" routerLink="/attendence-b" (click)="close()">
                <ion-icon slot="start" ios="ios-calendar" md="calendar-outline"></ion-icon>
                <ion-label>Attendance</ion-label>
              </ion-item>
              <!-- <ion-item lines="none" routerLink="/attendence-expense" (click)="close()">
                <ion-icon slot="start" ios="bookmark-outline" md="cart-outline"></ion-icon>
                <ion-label>Expense</ion-label>
              </ion-item> -->
               <ion-item lines="none" routerLink="/workexpense-list" (click)="close()">
                <ion-icon slot="start" ios="bookmark-outline" md="cart-outline"></ion-icon>
                <ion-label>Expense</ion-label>
              </ion-item>
              <ion-item lines="none" routerLink="/wallet-page" (click)="close()">
                <ion-icon slot="start" ios="bookmark-outline" md="wallet-outline"></ion-icon>
                <ion-label>Wallet</ion-label>
              </ion-item>
              <ion-item lines="none" routerLink="/sallery-list" (click)="close()">
                <ion-icon slot="start" ios="bookmark-outline" md="cash-outline"></ion-icon>
                <ion-label>Salary</ion-label>
              </ion-item>
              <ion-item lines="none" routerLink="/leave-page" (click)="close()">
                <ion-icon slot="start" ios="bookmark-outline" md="calendar-clear-outline"></ion-icon>
                <ion-label>Leave</ion-label>
              </ion-item>
              <ion-item lines="none" routerLink="/attendence-report" (click)="close()">
                <ion-icon slot="start" ios="bookmark-outline" md="book-outline"></ion-icon>
                <ion-label>Attendance Report</ion-label>
              </ion-item>
               <ion-item lines="none" routerLink="/advance" (click)="close()">
                <ion-icon slot="start" ios="bookmark-outline" md="book-outline"></ion-icon>
                <ion-label>Advance Request</ion-label>
              </ion-item>
              <!-- <ion-item lines="none" routerLink="/material-issue-list" (click)="close()">
                <ion-icon slot="start" ios="bookmark-outline" md="book-outline"></ion-icon>
                <ion-label>Material Issue Request</ion-label>
              </ion-item>
              <ion-item lines="none" routerLink="/material-receiving-list" (click)="close()">
                <ion-icon slot="start" ios="bookmark-outline" md="book-outline"></ion-icon>
                <ion-label>Material Receiving</ion-label>
              </ion-item> -->
              <!-- <ion-item lines="none" routerLink="/attendence-report" (click)="close()">
            <ion-icon slot="start" ios="bookmark-outline" md="bookmark-sharp"></ion-icon>
            <ion-label>Profile</ion-label>
          </ion-item>
          <ion-item lines="none" routerLink="/attendence-report" (click)="close()">
            <ion-icon slot="start" ios="bookmark-outline" md="bookmark-sharp"></ion-icon>
            <ion-label>Change password</ion-label>
          </ion-item> -->
        
              <ion-item *ngIf="userDetails" lines="none" (click)="logout()">
                <ion-icon slot="start" ios="bookmark-outline" md="log-out-outline"></ion-icon>
                <ion-label>Logout</ion-label>
              </ion-item>

            </ion-list>
           <!--  <ion-list id="inbox-list" *ngIf="userDetails" style="
        border-bottom: 1px #071662 solid;
    ">
            </ion-list> -->

            <ion-list *ngIf="!userDetails">
              <ion-item *ngIf="!userDetails" lines="none" routerLink="/login" (click)="close()">
                <ion-icon slot="start" ios="bookmark-outline" md="log-in-outline"></ion-icon>
                <ion-label>Login</ion-label>
              </ion-item>

            
            </ion-list>

           </div>
         <!--  </ion-grid> -->
        </div>



      </div>

 <p  *ngIf="ionVersionNumber" style="text-align: center;" class="app-version">App version - {{ionVersionNumber}}</p>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>