<ion-header >
  <ion-toolbar class="toolbar-background">
  <ion-buttons slot="start" >
   <ion-back-button class="button-native"></ion-back-button>
</ion-buttons>
<ion-title class="toolbar-title">Expense Module</ion-title>
  </ion-toolbar>
</ion-header> 
<ion-content>

<ion-content>

    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <!-- <div text-center>
            <h3>Create your account!</h3>
          </div> -->
          <ion-grid>
             <ion-row>
              <ion-col size="6">
               <ion-item-divider  color="light">Today : <div> {{today |  date: ' dd-MMM-yyyy'}}</div></ion-item-divider>
                </ion-col>
                <ion-col size="6">
                  
                  <ion-button size="small" color="primary" (click)="gotorequestpage()">All Expense List</ion-button>
                </ion-col>


                </ion-row>
            
            <ion-row class="margin">
              <ion-col size="12">
                <div *ngFor="let inneritem of depositData; let i = index">
                  <ion-item-sliding #slidingItem1 class="submitted-border">
                    <ion-item lines="none" color="grey">
                      <ion-label class="nomargin">  
                          <ion-row>
                            <ion-col size="8">
                              <h2 class="list-title"><span class="smspan">Project: </span><br>{{inneritem.uwe_project}}</h2>
                            </ion-col>
                            <!-- <ion-col size="4">
                              <h2 class="list-title"><span class="smspan"> Category: </span><br>{{inneritem.category_text}}</h2>
                            </ion-col> -->
                            <ion-col size="4">
                              <h2 class="list-title"><span class="smspan"> Amount: </span><br>{{inneritem.uwe_amount}}</h2>
                            </ion-col>
                            
                          </ion-row>
                        </ion-label>
                        <a  slot="end" (click)="edit_expense(inneritem.uwe_id)"> <ion-icon name="create-outline"></ion-icon></a>
                      <a style="margin-left: 22px;margin-right: -15px;"  slot="end" (click)="remove_expense(inneritem.uwe_id)">  <ion-icon name="close-circle-outline"></ion-icon></a>
                    </ion-item>
                  </ion-item-sliding>
                </div>
              </ion-col>
              <ion-col size="12" >
                <div class="ion-text-center">
                <ion-button color="primary" fill="outline" (click)="addAttendence()">
                  <ion-icon slot="start" name="add-circle-outline"></ion-icon>
                  Add Expense
                </ion-button>
              </div>
              </ion-col>
            </ion-row>
          </ion-grid>
          <!-- <div padding *ngIf="depositData.length" >
            <ion-button  size="large" (click)="submit()"  expand="block">Submit</ion-button>
          </div>
          <div padding *ngIf="!depositData.length">
            <ion-button  size="large"  [disabled]="true"  expand="block">Submit</ion-button>
          </div> -->
        </ion-col>
      </ion-row>
    </ion-grid>
    
   

</ion-content>