<ion-header>
  <ion-toolbar no-border-bottom class="toolbar-background">
    
    <ion-buttons slot="start">
      <ion-menu-button class="button-native"></ion-menu-button>
    </ion-buttons>
    <ion-title  class="toolbar-title">Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 
  <!-- <div *ngIf="address">
  <ion-row>
    <ion-col>Location </ion-col>
    <ion-col>{{address}}</ion-col>
  </ion-row>
</div> -->
  

    <ion-grid>
      


      <ion-card class="card-box">
        <ion-card-header class="card-headbox">
          <ion-card-subtitle class="card_mntitle">Attendance</ion-card-subtitle>
          <!-- <ion-card-title>Attendance</ion-card-title> -->
        </ion-card-header>
      
        <ion-card-content>
          <ion-row>
        
            <ion-col style="text-align: center;" size="3" routerLink="/attendence-b">
              <ion-icon name="add-circle-outline" class="card_icon"></ion-icon>
              <ion-card-title class="icon_title">Add</ion-card-title>
            </ion-col>
            <ion-col style="text-align: center;" size="3" routerLink="/user-attendense-list">
              <ion-icon name="eye-outline" class="card_icon"></ion-icon>
              <ion-card-title class="icon_title">View</ion-card-title>
            </ion-col>
            <ion-col style="text-align: center;" size="3" routerLink="/attendence-report">
              <ion-icon name="book-outline" class="card_icon"></ion-icon>
              <ion-card-title class="icon_title">Report</ion-card-title>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
      
 <ion-card class="card-box">
        <ion-card-header class="card-headbox">
          <ion-card-subtitle class="card_mntitle">Expense</ion-card-subtitle>
          <!-- <ion-card-title>Attendance</ion-card-title> -->
        </ion-card-header>
      
        <ion-card-content>
          <ion-row>
        
            <ion-col style="text-align: center;" size="3" routerLink="/attendence-expense-add">
              <ion-icon name="add-circle-outline" class="card_icon"></ion-icon>
              <ion-card-title class="icon_title">Add</ion-card-title>
            </ion-col>
            <ion-col style="text-align: center;" size="3" routerLink="/workexpense-list">
              <ion-icon name="eye-outline" class="card_icon"></ion-icon>
              <ion-card-title class="icon_title">View</ion-card-title>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>

      <ion-card class="card-box">
        <ion-card-header class="card-headbox">
          <ion-card-subtitle class="card_mntitle">My Leave</ion-card-subtitle>
          <!-- <ion-card-title>Attendance</ion-card-title> -->
        </ion-card-header>
      
        <ion-card-content>
          <ion-row>
            
            <ion-col style="text-align: center;" size="3" routerLink="/generale-leave">
              <ion-icon name="calendar-clear-outline" class="card_icon"></ion-icon>
              <ion-card-title class="icon_title">General</ion-card-title>
            </ion-col>
            <ion-col style="text-align: center;" size="3" routerLink="/medical-leave">
              <ion-icon name="medkit-outline" class="card_icon"></ion-icon>
              <ion-card-title class="icon_title">Medical</ion-card-title>
            </ion-col>
            <ion-col style="text-align: center;" size="3" routerLink="/compact-leave">
              <ion-icon name="calendar-clear-outline" class="card_icon"></ion-icon>
              <ion-card-title class="icon_title">Comp</ion-card-title>
            </ion-col>
            <ion-col style="text-align: center;" size="3" routerLink="/leave-page">
              <ion-icon name="eye-outline" class="card_icon"></ion-icon>
              <ion-card-title class="icon_title">View</ion-card-title>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
      <ion-card class="card-box">
        <ion-card-header class="card-headbox">
          <ion-card-subtitle class="card_mntitle">Transaction</ion-card-subtitle>
          <!-- <ion-card-title>Attendance</ion-card-title> -->
        </ion-card-header>
      
        <ion-card-content>
          <ion-row>
        
            <ion-col style="text-align: center;" size="3" routerLink="/wallet-page">
              <ion-icon name="wallet-outline" class="card_icon"></ion-icon>
              <ion-card-title class="icon_title">Wallet</ion-card-title>
            </ion-col>
            <ion-col style="text-align: center;" size="3" routerLink="/sallery-list">
              <ion-icon name="cash-outline" class="card_icon"></ion-icon>
              <ion-card-title class="icon_title">Salary</ion-card-title>
            </ion-col>
             <!-- <ion-col style="text-align: center;" size="3" routerLink="/attendence-expense-add">
              <ion-icon name="add-circle-outline" class="card_icon"></ion-icon>
              <ion-card-title class="icon_title">Add</ion-card-title>
            </ion-col> -->
            <ion-col style="text-align: center;" size="3" routerLink="/advance">
              <ion-icon name="eye-outline" class="card_icon"></ion-icon>
              <ion-card-title class="icon_title">Advance Request</ion-card-title>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>

    </ion-grid>
  
</ion-content>
