.card_mntitle {
  font-size: 18px;
  font-family: "Inter Medium";
  color: white;
}
.card_icon {
  font-size: 37px;
  color: #00f1b0;
}
.icon_title {
  font-size: 17px;
  font-weight: 600;
  color: black;
  font-family: "Inter Regular";
}
.card-headbox {
  background-color: #071662;
  border-radius: 6px 6px 0px 0px;
  margin-bottom: 10px;
}
.card-box {
  box-shadow: 1px 1px 14px #5e5555;
  border-radius: 8px;
  padding: 0;
}
